<!DOCTYPE html>
<html>
<head>
  <title>NoFrillsWeatherApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <nav>
    <h1>
      <%= link_to "No Frills Weather App", '/' %>
    </h1>
  </nav>
</header>
<%= yield %>
</body>
</html>
